$primary: #9578d3;
$info: #c2fbe1;
$text-color: #c2fbe1;
$bg-color: #181c18;
$blur: 8px;

@import '../../node_modules/bootstrap/scss/bootstrap';

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $secondary $bg-color;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: $bg-color;
}

*::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border-radius: 10px;
  border: 4px solid $bg-color;
}

nav {
  font-family: eucir;
  /* From https://css.glass */
  background: #181c18c2;
  // background: -moz-linear-gradient(0deg, #181c1885 0%, rgba(24, 28, 24, 1) 100%);
  // background: -webkit-linear-gradient(0deg, #181c1885 0%, rgba(24, 28, 24, 1) 100%);
  // background: linear-gradient(0deg, #181c1885 0%, rgba(24, 28, 24, 1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#202020",endColorstr="#181c18",GradientType=1);
  box-shadow: 0 4px 30px $bg-color;
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);

  a {
    color: $text-color !important;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,700&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: eucir;
}

a.btn:hover {
  color: $bg-color !important;
}

a:hover {
  color: $text-color !important;
  transition: .2s;
}

p, table {
  font-family: 'Roboto Flex', sans-serif;
}

body {
  background-color: $bg-color;
}

h1, h2, h3, h4, h5, h6, p {
  color: $text-color;
}

.btn {
  border: solid 2px $text-color !important;
  font-family: eucir;
}

.btn:focus {
  box-shadow: none !important;
}

footer {
  a {
    text-decoration: none;
  }

  p, a {
    font-family: eucir;
  }

  ul {
    padding: 0;

    li {
      list-style: none;
      line-height: 2em;
    }
  }
}
